backports.functools-lru-cache==1.5
beautifulsoup4==4.8.0
bs4==0.0.1
Jinja2==2.10.1
MarkupSafe==1.1.1
Paste==3.2.0
robotexclusionrulesparser==1.7.1
six==1.12.0
soupsieve==1.9.3
stop-words==2018.7.23
webapp2==2.5.2
WebOb==1.8.5
